body {
    margin: 0;
    font-family: Arial;
}

.image {
    min-height: 100vh;
    background-image: url("clock-g92c047d6f_1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px;
}

.content {
    background: #070707;
    padding: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #ffffff;
}

.content2 {
    background: white;
    padding: 15px;
    text-align: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.content-wrapper-horizontal {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.content-wrapper-vertical {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}



